{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body>
	<div class="container">
		<div class="left-col">

			<div class="intrude-less">
			<header id="header" class="inner">{% include header.html %}</header>				
			</div>

		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- zixun.blog -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-4051144321317231"
		     data-ad-slot="9557303903"
		     data-ad-format="auto"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>


		</div>	
		<div class="mid-col">
			{% unless page.banner == false %}
				{% include banner.html %}
			{% endunless %}
			<div class="mid-col-container">
				<div id="content" class="inner">{{ content | expand_urls: root_url }}</div>
			</div>
			<footer id="footer" class="inner">{% include footer.html %}</footer>
			{% include after_footer.html %}
		</div>
	</div>
</body>
</html>
