---
layout: default
single: true
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">{% include article.html %}


</br>
	<p align="center">感谢一路上朋友们的支持和鼓励，让我们一起来写一些好的原创文章</p>
	<p align="center">要是觉得这篇文章帮到了你，不妨赏作者一个包子吃</p>
	<div align="center">
	<form action="https://shenghuo.alipay.com/send/payment/fill.htm" method="POST" target="_blank" accept-charset="GBK" >
		<input name="optEmail" type="hidden" value="chenyl.exe@gmail.com" />
		<input name="payAmount" type="hidden" value="2" />
		<input id="title" name="title" type="hidden" value="博客打赏，买个包子" />
		<input name="memo" type="hidden" value="备注" />
		<input name="pay" type="image" value="转账" src="https://img.alipay.com/sys/personalprod/style/mc/btn-index.png" />
	</form>
	
	<p align="center">也可以使用「微信」「支付宝」客户端 赞赏：</p>

	<img align="center" height="200px" width="200px" src="/images/custom/photo/dashang_wechat.jpg"/>&nbsp&nbsp&nbsp&nbsp
	<img align="center" height="200px" width="200px" src="/images/custom/photo/dashang_zhifubao.jpg"/>

	</div>

</article>



{% unless page.sharing == false %}
	{% include post/sharing.html %}
{% endunless %}
{% if site.disqus_short_name and page.comments == true %}
<section id="comment">
    <h1 class="title">Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
</section>
{% endif %}
